{% extends 'base.html' %}

{% block title %}Log -- My Practice Pal{% endblock %}

{% block head %}{% endblock %}

{% block body %}

    <h1>Practice Log</h1>
        <p>Build your skills and track your progress!</p>
        <p>Note the highest tempo at which you could do the drill. If the drill is too fast for you to do (mostly) correctly, slow down to a more comfortable tempo. If you feel completely confident at a tempo, add 3bpm until you reach the edge of your comfort zone.</p>
        <!--- Insert date ---> 
        <h2>What did you practice today?</h2>



            <form action="/log" method = "POST">
                
            <fieldset>
                <p>* = Required</p>
                <section>
                    <label for="date">*Practice Date: 
                        <input type="datetime" name="date" id="date" required/>
                    </label>
                </section>

                <section>
                    <label for="total_session_minutes">*Duration (minutes):</label>
                        <input type="number" min="1" max="1440" name="session_minutes" id="session_min" required/>
                    <label for="on_instrument_min">On Instrument:</label>
                        <input type="number" min="1" max="1440" name="on_instrument_min" id="on_instrument_min" required/>
                    <label for="add_time_off_inst">Off Instrument</label>
                        <input type="number" min="1" max="1440" name="off_instrument_min" id="off_instrument_min" required/>
                    <label for="general_min">Check box if logging time spent, but not routine-specific:</label>
                        <input type="checkbox" value="general_min_only" id="general_min_check" >
                </section>


                <section>
                    <label for="select_routine">Select Routine</label>
                        <select name="select_routine" id="select_routine">

                            <option value="0" id="routine">--</option>
                            {% for routine in user.routines %}

                            <option value="{{ routine.routine_id }}" id="routine">{{ routine.title }}</option>
                            
                            {% endfor %}

                            <!-- <option value="general_min">No Routine - Add General Time Only</option> -->

                            <!-- jinja loop: for all the routines saved in the database -->
                            <!-- This needs to be built into a a function where the routine the user creates populates the options from this select menu. -->
                        </select>
                </section>

                {% for routine in user.routines %}

                <section id="{{ routine.routine_id }}" hidden>
                    <h4>Choose the exercises you did in your {{ routine.title }} routine</h4>

                    {% for exercise in routine.exercises %}
                        
                        <input type="checkbox" name="exercise" value="{{ exercise.ex_title }}">{{ exercise.ex_title }}</input>
                      
                    {% endfor %}

                </section>

                {% endfor %}

                <section>
                    <label for="select_exercise">Which exercises did you practice this session?</label>
                        <!-- <input type="checkbox" name="">
                        #This will need to populate with exercises from the routine user selects above -->
                    
                    <button type="button" class="collapsible">+ Expand to Add Optional Details</button>
                    <div class="content">Select all that apply:
                        <p>Keys</p>
                        <p>Modes</p>
                        <p>BPM</p>
                        <p>Direction</p>
                        <p>My Variations</p>
                        <p>Difficulty Rating</p>
                        <label for="exercise_difficulty">How difficult does this exercise feel?</label>
                            <select name="session_difficulty">
                                <option value="">(select)</option>
                                <option value="easy">Easy Street!</option>
                                <option value="ok">Ok</option>
                                <option value="somewhat-challenging">Some challenge</option>
                                <option value="extremely-difficult">Extreme challenge</option>
                            </select>
                    </div>
                        
                </section>


                <section>
                    <label for="session_difficulty">How difficult was this practice session?</label>
                        <select name="session_difficulty">
                            <option value="">(select)</option>
                            <option value="easy">Easy Street!</option>
                            <option value="ok">Ok</option>
                            <option value="somewhat-challenging">Some challenge</option>
                            <option value="extremely-difficult">Extreme challenge</option>
                        </select>
                </section>

                <section>
                    <label for="session_enjoyment">How much did you enjoy your practice today?
                        <select name="session_enjoyment" id="session_enjoyment">
                            <option value="">(select)</option>
                            <option value="disliked">disliked</option>
                            <option value="neutral">neutral</option>
                            <option value="liked">liked</option>
                            <option value="loved">loved</option>
                        </select>
                    </label>
                </section>

                <section>
                    <label for="notes_for_practice">Notes for next practice:
                        <textarea name="notes_for_practice" id="notes_for_practice" placeholder="Next practice..."></textarea>
                    </label>
                </section>

                <section>
                    <label for="questions_teacher">Questions for teacher:</label>
                    <textarea id="questions_teacher" placeholder="Ask teacher about..."></textarea>
                </section>
            </fieldset>
                <label for="submit">Save Practice Session to My Log</label>
                <input type="submit" value="Submit" name="submit" id="submit"/>
            </form>

            <div>
                {% for session in practice_sessions %} 

                <h1>Session from: {{ session.date }}</h1>

                <h4>Exercises this session:</h4>

                    {% if session.exercises_this_session %} 

                        {% for exercise in session.exercises_this_session.split("|") %}
                        
                        <p>{{ exercise }}</p>
                        
                        {% endfor %}

                    {% else %}

                        <p>No exercises</p>

                    {% endif %} 

                {% endfor %}
            </div>

        <h2>Here's what it looks like when taken out from the form:</h2>
            <button type="button" class="collapsible">+ Expand to Add Optional Details</button>
            <div class="content">
                <p>Select all that apply:
                    text text text </p>
                    <p>text text </p>
                </p>
                <p>Keys</p>
                <p>Modes</p>
                <p>BPM</p>
                <p>Direction</p>
                <p>My Variations</p>
                <p>Difficulty Rating</p>
                <label for="exercise_difficulty">How difficult does this exercise feel?</label>
                    <select name="session_difficulty">
                        <option value="">(select)</option>
                        <option value="easy">Easy Street!</option>
                        <option value="ok">Ok</option>
                        <option value="somewhat-challenging">Some challenge</option>
                        <option value="extremely-difficult">Extreme challenge</option>
                    </select>
            </div>

        <div class ="info_card" id="last_session" >
            <!-- I'm going to start making info cards to display data.  -->
        </div>

    {% block js %}
        <script src="/static/js/log.js"></script>
    {% endblock %} 

    {% endblock %}