<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PracticeLog -- My Practice Pal</title>            <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="LFC Landing Page">
        <link rel="stylesheet" href="mpp.css" />
        <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        </head>
    <script></script>
</head>
<body>
    <h1>Practice Log</h1>
        <p>Build your skills and track your progress! Enter each kind of practice below. The recommendation is to spend about 45% of a practice session <i>without</i> your instrument (e.g., fretboard visualization, solving theory problems in lessons. About 45% of your time should be spent on your instrument working towards mastering drills and patterns assigned by your teacher. You can choose to add details like recordings you played along with in iRealPro. Note the highest tempo at which you could do the drill; you can estimate that about 80% accuracy is the ideal growth-edge. If the drill is too fast for you to do (mostly) correctly, slow down to a more comfortable tempo. If you feel completely confident at a tempo, add 3bpm until you reach the edge of your comfort zone. </i></p>
        <!--- Insert date ---> 
            <h2>What did you practice today?</h2>
            <form method="" action=" ">
                <section></section>
                <section></section>
                <section></section>
              </form>
            <form>    
                <fieldset>
                        <section>
                            <label for="date">Date of practice session: 
                                <input id="date" type="date" required/>
                            </label>
                        </section>

                        <section>
                            <label>Routine
                                <select>
                                    <option value="default_first_routine">My First Routine</option>
                                    <option value=""></option>
                                    <!-- This needs to be built into a a function where the routine the user creates populates the options from this select menu. -->
                                </select>
                            </label>
                        </section>

                            <label>How difficult was this practice session?
                                <select>
                                    <option value="">(select one)</option>
                                    <option value="easy">Easy Street!</option>
                                    <option value="ok">Ok</option>
                                    <option value="somewhat-challenging">Some challenge</option>
                                    <option value="extremely-difficult">Extreme challenge</option>
                                </select>
                            </label>

                            <p><label>How much did you enjoy your practice today?
                                <select>
                                    <option value="">(select one)</option>
                                    <option value="disliked">disliked</option>
                                    <option value="neutral">neutral</option>
                                    <option value="liked">liked</option>
                                    <option value="loved">loved</option>
                                </select>
                            </label></p>

                            <p><label for="note_for_practice">Notes for next practice:</label>
                            <textarea id="note_for_practice" placeholder="Next practice..."></textarea></p>

                            <p><label for="questions_teacher">Questions for teacher:</label>
                            <textarea id="questions_teacher" placeholder="Ask teacher about..."></textarea></p>
                        </fieldset>

                <input type="submit" value="Submit" />
                #######has to submit to database##########
            </form>
        </form>
</body>



</html>
